HF_API_KEY=your_huggingface_token_here
HF_API_ITT_BASE="https://router.huggingface.co/hf-inference/models/Salesforce/blip-image-captioning-large"
HF_API_TTI_BASE="https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell"
